{
  "openapi": "3.0.0",
  "info": {
    "title": "Botruntime Combined API",
    "description": "API for Botpress Cloud",
    "version": "1.108.0"
  },
  "servers": [
    {
      "url": "https://botruntime.ru"
    }
  ],
  "paths": {
    "/v1/chat/conversations": {
      "post": {
        "operationId": "createConversation",
        "description": "Creates a new [Conversation](#schema_conversation). When creating a new [Conversation](#schema_conversation), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/createConversationResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createConversationBody"
        }
      },
      "get": {
        "operationId": "listConversations",
        "description": "Retrieves a list of [Conversation](#schema_conversation) you’ve previously created. The conversations are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](#tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort results by this field",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort results in this direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "description": "Filter by participant ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "integrationName",
            "in": "query",
            "description": "Filter by integration name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Filter by integration channel name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "afterDate",
            "in": "query",
            "description": "Date in ISO 8601 string with UTC timezone after which the conversation was created (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beforeDate",
            "in": "query",
            "description": "Date in ISO 8601 string with UTC timezone before which the conversation was created (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minMessageCount",
            "in": "query",
            "description": "Filter conversations with a message count greater than or equal to this value (inclusive)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxMessageCount",
            "in": "query",
            "description": "Filter conversations with a message count less than or equal to this value (inclusive)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listConversationsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listConversationsResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/conversations/{id}": {
      "get": {
        "operationId": "getConversation",
        "description": "Retrieves the [Conversation](#schema_conversation) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/getConversationResponse"
          }
        },
        "tags": [
          "documented"
        ]
      },
      "put": {
        "operationId": "updateConversation",
        "description": "Update a [Conversation](#schema_conversation) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateConversationResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateConversationBody"
        }
      },
      "delete": {
        "operationId": "deleteConversation",
        "description": "Permanently deletes a [Conversation](#schema_conversation). It cannot be undone. Also immediately deletes corresponding [Messages](#schema_message).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteConversationResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/conversations/get-or-create": {
      "post": {
        "operationId": "getOrCreateConversation",
        "description": "Retrieves the [Conversation](#schema_conversation) object containing given tags. If the conversation does not exist, it will be created. Tags will be updated if they are set in the request body.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrCreateConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrCreateConversationResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrCreateConversationBody"
        }
      }
    },
    "/v1/chat/conversations/{id}/participants": {
      "get": {
        "operationId": "listParticipants",
        "description": "Retrieves a list of [Participant](#schema_participant) for a given [Conversation](#schema_conversation).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listParticipantsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listParticipantsResponse"
          }
        },
        "tags": [
          "documented"
        ]
      },
      "post": {
        "operationId": "addParticipant",
        "description": "Add a [Participant](#schema_participant) to a [Conversation](#schema_conversation).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addParticipantResponse"
          },
          "default": {
            "$ref": "#/components/responses/addParticipantResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/addParticipantBody"
        }
      }
    },
    "/v1/chat/conversations/{id}/participants/{userId}": {
      "get": {
        "operationId": "getParticipant",
        "description": "Retrieves a [Participant](#schema_participant) from a [Conversation](#schema_conversation).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getParticipantResponse"
          },
          "default": {
            "$ref": "#/components/responses/getParticipantResponse"
          }
        },
        "tags": [
          "documented"
        ]
      },
      "delete": {
        "operationId": "removeParticipant",
        "description": "Remove a [Participant](#schema_participant) from a [Conversation](#schema_conversation).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/removeParticipantResponse"
          },
          "default": {
            "$ref": "#/components/responses/removeParticipantResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/events": {
      "post": {
        "operationId": "createEvent",
        "description": "Creates a new [Event](#schema_event). When creating a new [Event](#schema_event), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createEventResponse"
          },
          "default": {
            "$ref": "#/components/responses/createEventResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createEventBody"
        }
      },
      "get": {
        "operationId": "listEvents",
        "description": "Retrieves a list of [Event](#schema_event) you’ve previously created. The events are returned in sorted order, with the most recent appearing first.",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Filter by conversation id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Filter by message id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "description": "Filter by workflow id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status. Allowed values: pending, ignored, processed, failed.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "ignored",
                "processed",
                "failed",
                "scheduled"
              ]
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listEventsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listEventsResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/events/{id}": {
      "get": {
        "operationId": "getEvent",
        "description": "Retrieves the [Event](#schema_event) object for a valid identifiers.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Event id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getEventResponse"
          },
          "default": {
            "$ref": "#/components/responses/getEventResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/events/scheduled/{id}": {
      "delete": {
        "operationId": "cancelScheduledEvent",
        "description": "Permanently cancels a scheduled [Event](#schema_event). The event must be in a `scheduled` state.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Event id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/cancelScheduledEventResponse"
          },
          "default": {
            "$ref": "#/components/responses/cancelScheduledEventResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/messages": {
      "post": {
        "operationId": "createMessage",
        "description": "Creates a new [Message](#schema_message). When creating a new [Message](#schema_message), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/createMessageResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createMessageBody"
        }
      },
      "get": {
        "operationId": "listMessages",
        "description": "Retrieves a list of [Message](#schema_message) you’ve previously created. The messages are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Conversation id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "afterDate",
            "in": "query",
            "description": "Date in ISO 8601 string with UTC timezone after which the message was created (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beforeDate",
            "in": "query",
            "description": "Date in ISO 8601 string with UTC timezone before which the message was created (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listMessagesResponse"
          },
          "default": {
            "$ref": "#/components/responses/listMessagesResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/messages/get-or-create": {
      "post": {
        "operationId": "getOrCreateMessage",
        "description": "Retrieves the [Message](#schema_message) object for given discriminating tags. If the message does not exist, it will be created. If the message already exists, its tags and payload will be updated with the provided values if they are defined.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrCreateMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrCreateMessageResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrCreateMessageBody"
        }
      }
    },
    "/v1/chat/messages/{id}": {
      "get": {
        "operationId": "getMessage",
        "description": "Retrieves the [Message](#schema_message) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Message",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/getMessageResponse"
          }
        },
        "tags": [
          "documented"
        ]
      },
      "put": {
        "operationId": "updateMessage",
        "description": "Updates a message tags and payload. The message type cannot be changed. Calling this operation from an integration, to update an incoming message, will not invoke the bot. The other way around it also true; Calling this operation from the bot, to update an outgoing message, will not invoke the integration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Message id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateMessageResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateMessageBody"
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "description": "Permanently deletes a [Message](#schema_message). It cannot be undone.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Message id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteMessageResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/initialize-incoming-message": {
      "post": {
        "operationId": "initializeIncomingMessage",
        "description": "Initializes a user, conversation and sends a message to the conversation.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/initializeIncomingMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/initializeIncomingMessageResponse"
          }
        },
        "tags": [
          "experimental"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/initializeIncomingMessageBody"
        }
      }
    },
    "/v1/chat/messages/import-messages": {
      "post": {
        "operationId": "importMessages",
        "description": "Imports messages if no matching messages already exist. On partial failure, returns an [Error](#errors) with both `resolvedMessages` and `failedMessages` arrays.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/importMessagesResponse"
          },
          "default": {
            "$ref": "#/components/responses/importMessagesResponse"
          }
        },
        "tags": [
          "experimental"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/importMessagesBody"
        }
      }
    },
    "/v1/chat/users": {
      "post": {
        "operationId": "createUser",
        "description": "Creates a new [User](#schema_user). When creating a new [User](#schema_user), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/createUserResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createUserBody"
        }
      },
      "get": {
        "operationId": "listUsers",
        "description": "Retrieves a list of [User](#schema_user) previously created. The users are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Filter by conversation id. This will return all users that have participated in the conversation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "afterDate",
            "in": "query",
            "description": "Date in ISO 8601 string with UTC timezone after which the user was created or updated (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beforeDate",
            "in": "query",
            "description": "Date in ISO 8601 string with UTC timezone before which the user was created or updated (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rangeField",
            "in": "query",
            "description": "Field used for range filtering. Allowed values are \"updatedAt\" or \"createdAt\". Defaults to \"createdAt\" if omitted.",
            "schema": {
              "type": "string",
              "enum": [
                "updatedAt",
                "createdAt"
              ]
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort results by this field",
            "schema": {
              "type": "string",
              "enum": [
                "updatedAt",
                "createdAt"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort results in this direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listUsersResponse"
          },
          "default": {
            "$ref": "#/components/responses/listUsersResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/users/{id}": {
      "get": {
        "operationId": "getUser",
        "description": "Retrieves the [User](#schema_user) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/getUserResponse"
          }
        },
        "tags": [
          "documented"
        ]
      },
      "put": {
        "operationId": "updateUser",
        "description": "Update a [User](#schema_user) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateUserResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateUserBody"
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "description": "Permanently deletes a [User](#schema_user). It cannot be undone.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteUserResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/chat/users/get-or-create": {
      "post": {
        "operationId": "getOrCreateUser",
        "description": "Retrieves the [User](#schema_user) object for given discriminating tags. If the user does not exist, it will be created. If the user already exists, its name, pictureUrl, attributes, and tags will be updated with the provided values.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrCreateUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrCreateUserResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrCreateUserBody"
        }
      }
    },
    "/v1/chat/states/{type}/{id}/{name}/expiry": {
      "post": {
        "operationId": "setStateExpiry",
        "description": "Updates the [State](#schema_state) expiry.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/setStateExpiryResponse"
          },
          "default": {
            "$ref": "#/components/responses/setStateExpiryResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/setStateExpiryBody"
        }
      }
    },
    "/v1/chat/states/{type}/{id}/{name}": {
      "get": {
        "operationId": "getState",
        "description": "Retrieves the [State](#schema_state) object for a valid identifier.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getStateResponse"
          },
          "default": {
            "$ref": "#/components/responses/getStateResponse"
          }
        },
        "tags": [
          "documented"
        ]
      },
      "post": {
        "operationId": "setState",
        "description": "Overrides the [State](#schema_state) object by setting the values of the parameters passed.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/setStateResponse"
          },
          "default": {
            "$ref": "#/components/responses/setStateResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/setStateBody"
        }
      },
      "patch": {
        "operationId": "patchState",
        "description": "Updates the [State](#schema_state) object by setting the values of the parameters passed.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/patchStateResponse"
          },
          "default": {
            "$ref": "#/components/responses/patchStateResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patchStateBody"
        }
      }
    },
    "/v1/chat/states/{type}/{id}/{name}/get-or-set": {
      "post": {
        "operationId": "getOrSetState",
        "description": "Retrieves the [State](#schema_state) object for a valid identifiers. If the state does not exist, it creates a new state.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrSetStateResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrSetStateResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrSetStateBody"
        }
      }
    },
    "/v1/chat/actions": {
      "post": {
        "operationId": "callAction",
        "description": "Call an action",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/callActionResponse"
          },
          "default": {
            "$ref": "#/components/responses/callActionResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/callActionBody"
        }
      }
    },
    "/v1/chat/integrations/configure": {
      "post": {
        "operationId": "configureIntegration",
        "description": "An integration can call this endpoint to configure itself",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/configureIntegrationResponse"
          },
          "default": {
            "$ref": "#/components/responses/configureIntegrationResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/configureIntegrationBody"
        }
      }
    },
    "/v1/chat/workflows": {
      "post": {
        "operationId": "createWorkflow",
        "description": "Creates a new [Workflow](#schema_workflow).",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/createWorkflowResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/createWorkflowBody"
        }
      },
      "get": {
        "operationId": "listWorkflows",
        "description": "Retrieves a list of [Workflow](#schema_workflow) you've previously created. The workflows are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Conversation id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "User id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentWorkflowId",
            "in": "query",
            "description": "Parent workflow id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Status",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pending",
                  "in_progress",
                  "failed",
                  "completed",
                  "listening",
                  "paused",
                  "timedout",
                  "cancelled"
                ]
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Workflow name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listWorkflowsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listWorkflowsResponse"
          }
        }
      }
    },
    "/v1/chat/workflows/{id}": {
      "get": {
        "operationId": "getWorkflow",
        "description": "Retrieves the [Workflow](#schema_workflow) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workflow id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/getWorkflowResponse"
          }
        }
      },
      "put": {
        "operationId": "updateWorkflow",
        "description": "Update a [Workflow](#schema_workflow) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workflow id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateWorkflowResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/updateWorkflowBody"
        }
      },
      "delete": {
        "operationId": "deleteWorkflow",
        "description": "Permanently deletes a [Workflow](#schema_workflow). It cannot be undone.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workflow id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteWorkflowResponse"
          }
        }
      }
    },
    "/v1/chat/workflows/get-or-create": {
      "post": {
        "operationId": "getOrCreateWorkflow",
        "description": "Get a workflow by tags, or creates a new [Workflow](#schema_workflow) if it doesn't exist. If the workflow already exists, its tags, timeoutAt, and userId will be updated with the provided values, unless the workflow is in a finished state.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrCreateWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrCreateWorkflowResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrCreateWorkflowBody"
        }
      }
    },
    "/v1/chat/tags/{key}/values": {
      "get": {
        "operationId": "listTagValues",
        "description": "[REMOVED] This endpoint is no longer functional and will return HTTP 410 Gone. Do not use.",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "Tag key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Tag type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "conversation",
                "message"
              ]
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listTagValuesResponse"
          },
          "default": {
            "$ref": "#/components/responses/listTagValuesResponse"
          }
        },
        "tags": [],
        "deprecated": true
      }
    },
    "/v1/chat/analytics": {
      "post": {
        "operationId": "trackAnalytics",
        "description": "Add an event to the analytics",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/trackAnalyticsResponse"
          },
          "default": {
            "$ref": "#/components/responses/trackAnalyticsResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/trackAnalyticsBody"
        }
      }
    },
    "/v1/chat/observations": {
      "post": {
        "operationId": "captureObservation",
        "description": "Capture a bot runtime observation. Does not support integration observations yet.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/captureObservationResponse"
          },
          "default": {
            "$ref": "#/components/responses/captureObservationResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/captureObservationBody"
        }
      }
    },
    "/v1/admin/helper/vrl": {
      "post": {
        "operationId": "runVrl",
        "description": "Run a VRL script",
        "parameters": [
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/runVrlResponse"
          },
          "default": {
            "$ref": "#/components/responses/runVrlResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/runVrlBody"
        }
      }
    },
    "/v1/admin/account/me": {
      "get": {
        "operationId": "getAccount",
        "description": "Get details of the account authenticating with this endpoint.",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAccountResponse"
          },
          "default": {
            "$ref": "#/components/responses/getAccountResponse"
          }
        },
        "tags": [
          "documented"
        ]
      },
      "put": {
        "operationId": "updateAccount",
        "description": "Update details of the account associated with authenticated user",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateAccountResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateAccountResponse"
          }
        },
        "tags": [
          "documented"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateAccountBody"
        }
      },
      "post": {
        "operationId": "deleteAccount",
        "description": "Delete the account associated with authenticated user",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteAccountResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteAccountResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/deleteAccountBody"
        }
      }
    },
    "/v1/admin/account/pats": {
      "get": {
        "operationId": "listPersonalAccessTokens",
        "description": "List PATs (Personal Access Tokens) of account.",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPersonalAccessTokensResponse"
          },
          "default": {
            "$ref": "#/components/responses/listPersonalAccessTokensResponse"
          }
        }
      },
      "post": {
        "operationId": "createPersonalAccessToken",
        "description": "Create a PAT",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/createPersonalAccessTokenResponse"
          },
          "default": {
            "$ref": "#/components/responses/createPersonalAccessTokenResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/createPersonalAccessTokenBody"
        }
      }
    },
    "/v1/admin/account/pats/{id}": {
      "delete": {
        "operationId": "deletePersonalAccessToken",
        "description": "Delete a PAT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Personal Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deletePersonalAccessTokenResponse"
          },
          "default": {
            "$ref": "#/components/responses/deletePersonalAccessTokenResponse"
          }
        }
      }
    },
    "/v1/admin/account/preferences/{key}": {
      "post": {
        "operationId": "setAccountPreference",
        "description": "Set a preference for the account",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Preference key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/setAccountPreferenceResponse"
          },
          "default": {
            "$ref": "#/components/responses/setAccountPreferenceResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/setAccountPreferenceBody"
        }
      },
      "get": {
        "operationId": "getAccountPreference",
        "description": "Get a preference of the account",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Preference key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAccountPreferenceResponse"
          },
          "default": {
            "$ref": "#/components/responses/getAccountPreferenceResponse"
          }
        }
      }
    },
    "/v1/admin/hub/integrations": {
      "get": {
        "operationId": "listPublicIntegrations",
        "description": "List public integration",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Integration Name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Integration version. Either a semver version or tag \"latest\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interfaceId",
            "in": "query",
            "description": "Filter integrations by implemented interface ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interfaceName",
            "in": "query",
            "description": "Filter integrations by implemented interface name (strict match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installedByBotId",
            "in": "query",
            "description": "Bot ID. Required when filtering for installed integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationStatus",
            "in": "query",
            "description": "Filter integrations by verification status",
            "schema": {
              "type": "string",
              "enum": [
                "unapproved",
                "pending",
                "approved",
                "rejected"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search integrations by name, description, actions, and interfaces. Responses include a matchedOn field indicating which fields matched the search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort integrations by field",
            "schema": {
              "type": "string",
              "enum": [
                "popularity",
                "name",
                "createdAt",
                "updatedAt",
                "installCount"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction (asc or desc)",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPublicIntegrationsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listPublicIntegrationsResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/admin/hub/integrations/{id}": {
      "get": {
        "operationId": "getPublicIntegrationById",
        "description": "Get public integration by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicIntegrationByIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicIntegrationByIdResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/admin/hub/integrations/{name}/{version}": {
      "get": {
        "operationId": "getPublicIntegration",
        "description": "Get public integration by name and version",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Integration Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Integration version. Either a semver version, semver version range, or the constant string \"latest\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicIntegrationResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicIntegrationResponse"
          }
        },
        "tags": [
          "documented"
        ]
      }
    },
    "/v1/admin/hub/plugins": {
      "get": {
        "operationId": "listPublicPlugins",
        "description": "List public plugin",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per page (default 20, max 100)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter all versions of a plugin by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Filter a plugin by name and version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPublicPluginsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listPublicPluginsResponse"
          }
        }
      }
    },
[...]
